  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
:local {
  .imageWrapper {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    img {
      width: 100%;
      height: 28rem;
    }
    img:hover {
      opacity: .3;
      background: #000;
    }
    .imageIneer {
      position: absolute;
      background: rgba(0, 0, 0, 0);
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      color: #fff;
      text-align: center;
      transition: .5s ease;
      &:hover {
        background: rgba(0, 0, 0, .7);
        transition: .5s ease;
        .imageInner__herat {
          opacity: 1;
        }
      }
      .imageInner__herat{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: .5s ease;
      }
      .heart {
        color: #e9262a;
        font-size: 5rem;
        margin-bottom: 10px;
      }
      .likeText {
        font-size: 2rem;
        font-family: 'Quicksand', sans-serif;
      }
    }
  }
  .loadMore {
    text-align: center;
    margin: 20px 0;
  }
}
